<!doctype html>
<html>
<head>
	<title> Gif Sound </title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<h1> hear a gif </h>
		<button><a href= "/gif">go</a></button>

</body>
	

</html>