<!doctype html>
<html>
<head>
	<title> Gif Sound </title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	
	<center><h1> take me </h1>
	<h2 id="joint"> to a </h2>
	<h3> random </h3>
	<h4> soundgif </h4>
	<h5>
		→
	<button><a href="/gif">go</a></button>	
		←
	</h5></center>


	


</body>
	

</html>