<!doctype html>
<html>
<head>
	<title> Gif Sound </title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<h1>  Musical GIF: Noun: A GIF that plays on a loop combined with a song that plays all the way through </h>
		<button><a href= "/gif">go</a></button>

</body>
	

</html>